/*================================
 Estilos Generales
==================================*/
@font-face {
  font-family: Fredoka;
  src: url(/public/fonts/FredokaOne-Regular.ttf);
}
@font-face {
  font-family: Assistant;
  src: url(/public/fonts/Assistant/Assistant-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}
body {
  padding: 20px;
  font-family: Calibri, Helvetica, sans-serif;
  color: #333;
}
#envoltorio {
  background-color: #f5f5f5;
}
.container {
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto ;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
a {
  color: #414141;
  -moz-transition: all 275ms;
  -o-transition: all 275ms;
  -webkit-transition: all 275ms;
  transition: all 275ms;
  }
a:hover {
  color: #c054c0;
}
.d-flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
.f-direction-column {
  flex-direction: column;
}
.col-25, .col-30, .col-50, .col-70, .col-75, .col-100 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  float: left;
  box-sizing: border-box;
}
.col-25 {
  width: 25%;
}
.col-30 {
  width: 30%;
}
.col-50 {
  width: 50%;
}
.col-70 {
  width: 70%;
}
.col-75 {
  width: 25%;
}
.col-100 {
  width: 25%;
}
main > section {
	padding-top: 50px;
}
h1,h2,h3,h4,h5,h6 {
  font-family: "Roboto Condensed", sans-serif;
}
.f-left {
  float: left;
}
.f-right {
  float: right;
}
.clearfix {
  clear: both;
}
/* Header
 ==================================*/
header {
  padding: 20px 0;
}
 /* ···························Main Nav */
 .main-nav ul {
   display: flex;
   justify-content: space-between;
   width: 600px;
   margin: 0 auto;
   align-items: center;
 }
.main-nav ul li {
  display: inline-block;
  width: 150px;
}
.main-nav ul li a {
  font-family: Assistant;
  text-transform: uppercase;
  font-size: 1.3rem;
  letter-spacing: 2px;
  border-bottom: 1px solid #c054c0;
  display: block;
}
.main-nav img {
  display: block;
  width: 100px;
  text-align: center;
  margin: 0 auto;
}
.main-nav .logo a {
	border-bottom: none;
}

/* Index
 ==================================*/
.index-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.index-container a {
  font-family: Fredoka;
  font-size: 2rem;
  text-align: center;
}
.index-container img {
  width: 50%;
}
/* ====================
          Main
 =====================*/
 .manifiesto {
   text-align: center;
 }
 .manifiesto h2 {
   font-size: 3rem;
   font-weight: lighter;
   margin-top: 50px;
 }
 .manifiesto p {
	font-size: 1.3rem;
	font-weight: lighter;
	color: gray;
	margin: 30px 100px;
}
.module-title, .module-subtitle {
	position: relative;
	letter-spacing: 4px;
	text-align: center;
	font-weight: 400;
	color: #111;
	margin: 0 0 70px;
}
.module-title {
	font-size: 30px;
}
.module {
	position: relative;
	padding: 140px 0;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}
.row {
	padding-top: 20px;
	padding-bottom: 20px;
}
/* Servicios
 ==================================*/
#servicios {
  min-height: 500px;
}
#servicios .servicio span, #servicios .servicio h4 {
padding-top: 20px;
}
#servicios .servicio h4 {
text-transform: uppercase;
font-weight: lighter;
letter-spacing: 2px;
}
#servicios .servicio p {
	font-size: 0.8rem;
	color: #6f6f6f;
	padding: 25px 10px;
}
.servicio span {
	font-size: 2rem;
}
.caja-parrafo {
  max-width: 800px;
  font-size: 1.1rem;
}
/* Contacto
 ==================================*/
#contacto {
  min-height: 500px;
}
.caja-formulario {
  margin-left: 200px;
}
input, textarea, button {
  border: 3px solid #999;
  border-radius: 25px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.input:focus, textarea:focus, button:hover {
	box-shadow: 0px 1px 8px 1px #777;
}

button {
  cursor: pointer;
}
.field {
  margin-bottom: 25px;
}
/* footer
 ==================================*/
 footer {
  padding: 100px 0 30px;
 }
 .footer-bottom {
   padding: 30px 0;
 }
 .footer-top, .footer-bottom {
   position: relative;
 }
 .contact-widget, .text-widget {
   margin-bottom: 70px;
 }
 

/*================================
 Media Queries
==================================*/

@media (max-width: 470px) {}