@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Ephesis&family=Figtree:ital,wght@0,300..900;1,300..900&family=Outfit:wght@100..900&family=Prata&display=swap');

@import "tailwindcss";
/* @import 'lenis/dist/lenis.css' */

@theme {
  --font-cardo: Cardo, "sans-serif"; 
  --font-figtree: Figtree, "sans-serif";
  --font-ephesis: Ephesis, "sans-serif";
  --color-primary: #bea0f2

}